* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    max-width: 620px;
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    position: relative;
}
 
.search-input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
}

.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

.auth {
    margin-left: auto;
}

.login {
    background: #ebebeb;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.shopping-cart {
    position: relative;
    text-decoration: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.shopping-counter {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #000;
    background: #ffaf19;
    font-size: 8px;
    line-height: 9px;
    display: block;
    padding: 5px;
    border-radius: 50%;
}